*,
*:before,
*:after {
  box-sizing: border-box;
}

#app {
    font-family: "Founders Grotesk", Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
